:root {
  --istsverde:  #007579;
  --istsazul:   #1c4794;
  --istsblack:  #000000;
  --blue:       #0f6cbf;
  --indigo:     #6610f2;
  --purple:     #613d7c;
  --pink:       #e83e8c;
  --red:        #ca3120;
  --orange:     #f0ad4e;
  --yellow:     #ff7518;
  --green:      #64a44e;
  --teal:       #20c997;
  --cyan:       #008196;
  --white:      #ffffff;
  --gray:       #6a737b;
  --gray-dark:  #343a40;
  --primary:    var(--istsverde);
  --secondary:  #ced4da;
  --success:    #64a44e;
  --info:       #008196;
  --warning:    #f0ad4e;
  --danger:     #ca3120;
  --light:      #f8f9fa;
  --dark:       #343a40;

  // Asignar variables
  --navbar-height: 64px;
}
