@use '../util' as *;

.footer {
  color: var(--gray);
  bottom: 0;
  font-size: rem(18);
  background: #f8fbfe;
  box-shadow: 0px 2px 15px rgba(18, 66, 101, 0.08);

  &__space{
    margin-top: rem(56);
    padding: rem(40) 0;
    background: var(--white);
  }

  &__bar {
    padding-top: rem(40);
    padding-bottom: rem(40);
    display: grid;
    grid-template-rows: 1fr;

    @include breakpoint(medium) {
      grid-template-columns: 1fr auto;
    }
  }

  &__copyright {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-self: center;
    @include breakpoint(medium) {
      text-align: left;
      display: block;
    }
  }

  &__social {
    grid-row-start: 1;
    justify-self: center;
    margin-bottom: rem(32);
    display: flex;
    gap: rem(20);
    color: var(--istsazul);

    @include breakpoint(medium) {
      grid-column-start: 2;
      justify-self: end;
      margin-bottom: rem(0);
    }

    .fa-brands {
      font-size: rem(40);
      color: var(--istsazul);
      &:hover{
        color: var(--istsverde);
      }
    }

  }
}

