@use '../util' as *;

.header {
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 3px 2px -2px rgba(6,112,132, 0.1);
  padding-top: rem(13);
  padding-bottom: rem(12);
  background: var(--white);
  z-index: 999;
  @include breakpoint(xmedium) {
    padding-top: rem(12);
  }

  &__content{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;

    @include breakpoint(xmedium) {
      align-items: center;
    }
  }

  &__logo {
    display: flex;
    align-items: center;
    font-family: var(--font-raleway);
    font-size: rem(20);
    font-weight: 700;
    color: var(--dark);

    img {
      height: rem(40);
      width: rem(40);
      margin-right: rem(25);
    }

    span {
      @include breakpoint-down(xmedium) {
          display: none;
      }
    }
  }
}

.navbar {
  padding: rem(5);
  display: flex;
  align-items: center;

  &__list {
    top: rem(90);
    left: rem(30);
    right: rem(30);
    overflow: hidden;
    position: fixed;
    z-index: 9;
    margin: 0;
    list-style: none;
    padding: 0;
    flex-direction: column;
    align-items: center;
    background: white;
    border-radius: rem(16);
    box-shadow: rgba(6,112,132, 0.1) 0px 2px 8px 0px;
    display: none;

    @include breakpoint(xmedium){
      position: relative;
      background: transparent;
      display: flex;
      flex-direction: row;
      margin: 0;
      padding: 0;
      list-style: none;
      align-items: center;
      width:auto;
      left: auto;
      right: auto;
      top: auto;
      border-radius: 0;
      box-shadow: none;
    }
  }

  &__link {
    color: var(--istsazul) ;
    justify-content: space-between;
    font-size: rem(24);
    padding: rem(30) 0;
    text-align: center;
    display: inline-block;
    margin: 0;
    width: 80vw;

    @include breakpoint(xmedium){
      display: flex;
      padding: rem(9) 0 rem(8) rem(30);
      align-items: center;
      justify-content: space-between;
      font-size: rem(20);
      font-weight: 700;
      color: var(--istsazul);
      font-family: var(--font-raleway);
      white-space: nowrap;
      width: auto;
    }
  }
  &__toggle {
    padding: 0;
    cursor: pointer;
    line-height: 0;
    display: inline-block;
    height: 28px;
    z-index: 10;
    margin-top: rem(6);
    margin-bottom: rem(6);

    @include breakpoint(xmedium){
      display: none;
    }
  }

}
