@use '../util' as *;

.title {
  color: var(--black);
  font-size: rem(40);
  font-family: var(--font-raleway);
  font-weight: 700;
  text-align: center;
  margin-top: rem(112);
  margin-bottom: rem(48);

  @include breakpoint(medium) {
    font-size: rem(48);
  }
}
