@use '../util' as *;

.back-to-top {
	position: fixed;
  display: none;
	bottom: rem(20);
	right: rem(30);
	background-color: var(--istsazul);
	transition: 0.2s ease-out;
  padding: rem(8) rem(11);
  border-radius: 50%;

  a {
    padding: 0;
  }

  i {
    color: var(--white);
    font-size: rem(24);
    height: 25;
    width: 25;
  }

  &:hover {
    background-color: var(--istsverde);
  }
}
